// Start Colors Variables
$body-background-color: #ededed;
$color-violet: #5a005a;
$color-gray-dark: #666666;
$color-gray: #7f7f7f;
$color-gray-middle: #999d99;
$color-gray-light: #ececec;
$color-gray-very-light: #f2f2f2;
$color-green: #86c27c;
$color-red: #e52e2d;
// End Colors Variables
// Start Shadow Boxes Variables
$sb-center-wide-black: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
// End Shadow Boxes Variables
